<div class="container-md">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="align-center">
    <h3 style="margin:21px;">Create a Task</h3>
    <mat-form-field appearance="outline" class="element-md element-sm">
      <mat-label>Title</mat-label>
      <input matInput placeholder="title" formControlName="title">
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="element-md element-sm">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description" required>
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="element-md element-sm">
      <mat-select required formControlName="projectId">
        <!--<mat-option>-- None --</mat-option>-->
        <span *ngFor="let project of Projects$ | async">
          <mat-option [value]="project.id">{{project.name}}</mat-option>
        </span>
      </mat-select>
      <mat-label>Projects</mat-label>
    </mat-form-field>

    <mat-form-field appearance="outline" class="element-md element-sm">      
      <mat-select formControlName="stateTypeId" [disabled]="bStateDisabled" >
        <span *ngFor="let type of taskStates$ | async">
          <mat-option [value]="type.id">{{type.name}}</mat-option>
        </span>
      </mat-select>
      <mat-label>Initial State</mat-label>
    </mat-form-field>

    <mat-form-field appearance="outline" class="element-md element-sm">
      <mat-label>Due Date</mat-label>
      <input matInput placeholder="title" type="datetime-local" formControlName="dueDate">
    </mat-form-field>

    <mat-form-field appearance="outline" class="element-md element-sm">
      <mat-label>Reminder Date</mat-label>
      <input matInput placeholder="reminder" type="datetime-local" formControlName="remindDate">
    </mat-form-field>

    <div class="element-md">
      <button mat-raised-button type="button" (click)="goBack()" class="space-md">Back</button>
      <button mat-raised-button type="submit" [disabled]="!taskForm.valid" class="space-md">Add task</button>
    </div>
  </form>
  <div>
    <p>form status :- {{taskForm.status}}</p>
    <p>form condit :- {{taskForm.dirty}}</p>
  </div>
</div>

